:root {
  --border: white;
  
  --g1: rgb(19, 0, 7);
  --g2: rgb(75, 1, 29);
  --g3: rgb(112, 1, 43);

  --g4: rgb(0, 19, 12);
  --g5: rgb(1, 75, 47);
  --g6: rgb(1, 112, 70);
}

body {
  background-color: rgb(10, 10, 10);
  display: flex;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.large-container {
  margin: 50px 0 50px 0;
}

.container {
  display: flex;
}

.card {
  aspect-ratio: 1 / 1.6;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 56vmin;
  border-radius: 2vmin;
  margin: 2vmin;
}
.small-card {
  aspect-ratio: 1 / 0.75;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 56vmin;
  border-radius: 2vmin;
  margin: 2vmin;
}

.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}
.small-card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.card:hover > .card-content {
  background-position: -10% 0%;
}
.small-card:hover > .card-content {
  background-position: -10% 0%;
}

.card:hover > .card-content > .card-subtitle {  
  opacity: 1;
  transform: translateY(0%);
  transition: transform 200ms ease;
}
.small-card:hover > .card-content > .card-subtitle {  
  opacity: 1;
  transform: translateY(0%);
  transition: transform 200ms ease;
}

.card:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--g1) 66%, 
    var(--g2) 83.5%, 
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  border-radius: 2vmin;
}
.small-card:before {
  background: linear-gradient(
    130deg, 
    transparent 0% 33%, 
    var(--g4) 66%, 
    var(--g5) 83.5%, 
    var(--g6) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  border-radius: 2vmin;
}

.card-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100% - 10vmin);
  z-index: 1;
}

.card-title,
.card-subtitle {
  color: white;
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-title {
  font-size: 6vmin;
}

.card-subtitle {
  opacity: 0;
  transform: translateY(40%);
  font-size: 3vmin;
  margin-top: 2vmin;
  transition: none;
}
