@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  background-color: rgb(15, 15, 15);
  font-family: "Roboto Slab", serif;
}

h1, h2, p {
  color: white;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 24 px;
  font-weight: 600;
  margin: 30px;
}

header, body {
  text-align: center;
}

a {
  color: white;
}

.projekt {
  margin: 50px;
}

.projekt-title {
  font-size: 36px;
  font-weight: 600;
}

.projekt p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}