body {
  background-color: rgb(15, 15, 15);
  color: white;
  text-align: center;
  font-style: italic;
}

header {
  position: sticky;
  top: 0;
  background-color: rgb(15, 15, 15);
  padding-bottom: 20px;
}

main {
  width: 40%;
  margin: 0px auto 20px auto;
  padding: 0 26px 26px 26px;
  border: 2px dashed white;
  border-radius: 2px;
}

h1 {
  font-size: 48px;
  margin: 12px 0 12px 0;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

a {
  color: orange;
  background-color: rgb(35, 35, 35);
  padding: 4px 4px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.25s;
  transition: padding 0.25s;
}
a:hover {
  background-color: rgb(45, 45, 45);
  padding: 6px 6px;
}

img {
  width: 75%;
  border-radius: 2px;
  border: 2px dashed white;
}

.profile-img {
  width: 50%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}

ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  margin: 0;
}

span {
  font-weight: 1000;
  font-style: normal;
}