:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

body {
  background-color: rgb(15, 15, 15);
}

.card-color-0, .card-color-30, .card-color-150, .card-color-180, .card-color-210, .card-color-330 {
  color: white;
  border: none;
}
.card-color-0 {
  background: linear-gradient(
    0deg, 
    var(--g2) 50%, 
    var(--g3) 100%
  );
}
.card-color-30 {
  background: linear-gradient(
    30deg, 
    var(--g1) 33%, 
    var(--g2) 67%, 
    var(--g3) 100%
  );
}
.card-color-150 {
  background: linear-gradient(
    150deg, 
    var(--g1) 33%, 
    var(--g2) 67%, 
    var(--g3) 100%
  );
}
.card-color-180 {
  background: linear-gradient(
    180deg, 
    var(--g2) 50%, 
    var(--g3) 100%
  );
}
.card-color-210 {
  background: linear-gradient(
    210deg, 
    var(--g1) 33%, 
    var(--g2) 67%, 
    var(--g3) 100%
  );
}
.card-color-330 {
  background: linear-gradient(
    330deg, 
    var(--g1) 33%, 
    var(--g2) 67%, 
    var(--g3) 100%
  );
}